<h2 style="margin-left: 190px;margin-top: 20px;">Users List</h2>
<table class="table" style="width: 800px;margin-left: 190px;margin-top: 100px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
        <th scope="col">show</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of listUs">
        <th scope="row">{{u.id}}</th>
        <td>{{u.name}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td><button routerLink="/TodoDetails/{{this.u.id}}" class="btn btn-primary">To do</button></td>
      </tr>
    </tbody>
  </table>

  <input type="text" [(ngModel)]="inputValue" style="margin-left: 190px;margin-top: 30px;" placeholder="Enter votre UserName"/>
  <button (click)="Calcul();aff()" class="btn btn-danger" style="margin-left: 60px;">Vérifier</button>
  <br>
  <br>
  <h3 *ngIf="test == true" style="margin-left: 190px;margin-bottom: 50px;">Le nb d'utilisateur ayant ce UserName est : {{nbrOfUsers}} </h3>




 